<div class="container">
  <div class="book-list">
    <div
      class="book-card"
      *ngFor="let book of books"
      [ngClass]="{ 'no-image': !book.thumbnailUrl }"
      (click)="goToDetails(book)"
    >
      <ng-container *ngIf="book.thumbnailUrl; else noImage">
        <img [src]="book.thumbnailUrl" />
      </ng-container>
      <ng-template #noImage>
        <img src="assets/no_image.png" />
      </ng-template>

      <p>{{ book.title }}</p>
      <p style="color: #aaa; font-size: 0.8em">
        <strong>Authors</strong>{{ book.authors.join(",") }}
      </p>
    </div>
  </div>
</div>
